
.Task-table {
    padding-top: 100px;
    border-collapse: collapse;
    width: 80%;
	padding-right:100px;
}

.Task-td-th{
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}


.Task-div{
    padding-bottom: 30px;
	padding-top: 30px;
	padding-left: 20px;
}




